# IDE or Editor
.idea/
.vscode/
**/.idea/
**/.vscode/

# Node.js

node_modules/
**/node_modules/

# Build files
dist/
build/
out/
target/
output/

**/dist/
**/build/
**/out/
**/target/
**/output/

# ESLint
.eslintcache
