@import "tailwindcss";
@import "./animation.css";

@variant dark (&:where(.dark, .dark *));

/*:root {
  --bg-sidebar-light: #fbfbfb;
  --bg-base-color-light: #ffffff;
  --bg-border-color-light: #e0e0e0;
  --content-color-light: #b0b5c0;
  --content-highlight-color-light: #23252a;
  --bg-sidebar-dark: #090909;
  --bg-base-color-dark: #101012;
  --bg-border-color-dark: #23252a;
  --content-color-dark: #6b6f76;
  --content-highlight-color-dark: #ffffff;
  --sidebar-width: 244px
}

html {
  --bg-color: var(--bg-sidebar-light);
  --bg-base-color: var(--bg-base-color-light);
  --bg-border-color: var(--bg-border-color-light);
  --content-color: var(--content-color-light);
  --content-highlight-color: var(--content-highlight-color-light);
  background-color: var(--bg-color);
  height: 100%;
  padding: 0
}

html.dark {
  --bg-color: var(--bg-sidebar-dark);
  --bg-base-color: var(--bg-base-color-dark);
  --bg-border-color: var(--bg-border-color-dark);
  --content-color: var(--content-color-dark);
  --content-highlight-color: var(--content-highlight-color-dark)
}*/

@layer base {
  body {
    @apply antialiased text-[var(--ui-text)] bg-[var(--ui-bg)] scheme-light dark:scheme-dark;
  }

  :root {
    --ui-text-dimmed: var(--ui-color-neutral-400);
    --ui-text-muted: var(--ui-color-neutral-500);
    --ui-text-toned: var(--ui-color-neutral-600);
    --ui-text: var(--ui-color-neutral-700);
    --ui-text-highlighted: var(--ui-color-neutral-900);

    --ui-bg: #f9f8f9;
    --ui-bg-muted: var(--ui-color-neutral-50);
    --ui-bg-elevated: #fff;
    --ui-bg-accented: var(--ui-color-neutral-200);
    --ui-bg-inverted: var(--ui-color-neutral-900);

    --ui-border: var(--ui-color-neutral-200);
    --ui-border-muted: var(--ui-color-neutral-200);
    --ui-border-accented: var(--ui-color-neutral-300);
    --ui-border-inverted: var(--ui-color-neutral-900);

    --ui-radius: var(--radius-sm);
    --ui-container: var(--container-7xl);

    scrollbar-width: thin;
    scrollbar-color: var(--ui-primary) transparent;
  }

  .dark {
    color-scheme: dark;

    --ui-text-dimmed: var(--ui-color-neutral-500);
    --ui-text-muted: var(--ui-color-neutral-400);
    --ui-text-toned: var(--ui-color-neutral-300);
    --ui-text: var(--ui-color-neutral-200);
    --ui-text-highlighted: var(--color-white);

    --ui-bg: var(--ui-color-neutral-950);
    --ui-bg-muted: var(--ui-color-neutral-800);
    --ui-bg-elevated: var(--ui-color-neutral-800);
    --ui-bg-accented: var(--ui-color-neutral-700);
    --ui-bg-inverted: var(--color-white);

    --ui-border: var(--ui-color-neutral-800);
    --ui-border-muted: var(--ui-color-neutral-700);
    --ui-border-accented: var(--ui-color-neutral-700);
    --ui-border-inverted: var(--color-white);
  }
}
